useDynLib(anRichment)
exportPattern("^[[:alpha:]]+")

import(AnnotationDbi, WGCNA, GO.db, XML, TxDb.Hsapiens.UCSC.hg19.knownGene, 
       TxDb.Mmusculus.UCSC.mm10.knownGene)
importFrom("dynamicTreeCut", "printFlush", "indentSpaces")
importFrom(Rcpp, evalCpp)
importFrom("dynamicTreeCut", "printFlush", "indentSpaces")
importFrom("stats", "cov", "fisher.test", "p.adjust", "phyper",
             "weighted.mean", "setNames")
importFrom("utils", "read.csv", "write.csv")


